<input type="button" value="Favorites" (click)="showFavorites()" class="btn">
<input type="button" value="Private settings" (click)="showSettings()" class="btn">
<input type="button" value="Change avatar" (click)="showAvatarUpload()" class="btn">
<ul *ngIf="displayFavorites">
    <li *ngFor="let favorite of userFavorites">
        <h1>{{favorite.title}}</h1>
        <img [src]='favorite.img' [style.width.px]='600'>
        <div>
            <span class="glyphicon glyphicon-tag">{{favorite.category}}</span>
            <span class="glyphicon glyphicon-star">{{favorite.rating}}</span>
        </div>
    </li>
</ul>
<div *ngIf="displaySettings">
    <user-settings-selector></user-settings-selector>
</div>
<div *ngIf="displayAvatarSettings">
    <avatar-upload-selector></avatar-upload-selector>
</div>