#profile-avatar{
    width:300px;
    height: 300px
}
button, .button{
    background-color: white;
    border: 2px solid dodgerblue;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
}
button:hover, .button:hover{
    background-color: yellow;
}
.container {
  display: block;
  float: none;
  width: 100%;
  margin: 20px;
}
