<div class="container-fluid">
    <form [formGroup]="userSettingsToUpdate" #userSettingsForm="ngForm" class="container text-center">
        <img [src]="userAvatar" id="profile-avatar">
        <div class="form-group">
            <label for="">Pick your avatar</label>
            <input type="file" #file (onUpload)="handleUpload($event)" [events]="events" ngFileSelect [options]="options">
        </div>
        <div class="form-group" [ngClass]="{'has-error':!userSettingsToUpdate.controls['currentPassword'].valid}">
            <label for="currentPassword">Enter your current password</label>
            <input name="currentPassword" type="password" class="form-control" formControlName="currentPassword">
            <span class="text-danger" *ngIf="!userSettingsToUpdate.controls['currentPassword'].valid && userSettingsToUpdate.controls['currentPassword'].touched">Please enter your password in order to change your user setting</span>
        </div>
        <div class="form-group">
            <input type="button" value="Change avatar" (click)="startUpload(file.value)" class="form-control" />
        </div>
    </form>
    <simple-notifications [options]="notificationOptions "></simple-notifications>
</div>