<header>
    <nav class="navbar navbar-default navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a routerLink="/upload" routerLinkActive="upload">Upload</a>
            </li>
            <li>
                <a routerLink="/register" routerLinkActive="register">Register</a>
            </li>
            <li>
                <a routerLink="/login" routerLinkActive="login">Login</a>
            </li>
            <li>
            </li>
        </ul>
    </nav>
</header>
<div id="content" class="facts-container">
    <router-outlet></router-outlet>
</div>