<header>
  <nav class="navbar navbar-default navbar-responsive-collapse">
    <div class="navbar-container">
      <ul class="nav navbar-nav left">
        <li>
          <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a routerLink="/facts/all" routerLinkActive="active">All facts</a>
        </li>
        <li *ngIf="_authService.isLoggedIn() && _authService.isAdmin()">
          <a routerLink="/admin/users" routerLinkActive="active">Admin</a>
        </li>
        <li *ngIf="_authService.isLoggedIn() && _authService.isAdmin()">
          <a routerLink="/admin/facts/deleted" routerLinkActive="active">Deleted Facts</a>
        </li>
        <li *ngIf="_authService.isLoggedIn()">
          <a routerLink="/upload" routerLinkActive="active">Upload</a>
        </li>
      </ul>
      <ul class=" nav navbar-nav right">
        <li *ngIf="!_authService.isLoggedIn()">
          <a routerLink="/register" routerLinkActive="active">Register</a>
        </li>
        <li *ngIf="!_authService.isLoggedIn()">
          <a routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li *ngIf="_authService.isLoggedIn()">
          <img [src]="userAvatar" (click)="redirectToUser()">
          <!--<a routerLink="/user" routerLinkActive="active">User</a>-->
        </li>
        <li *ngIf="_authService.isLoggedIn()">
          <a (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

</header>
<div id="content" class="facts-container">

  <img id="header-image" src="../style-utils/HEADER%20BACKGORUND.png"/>
  <router-outlet></router-outlet>
</div>
