<header>
    <nav class="navbar navbar-default navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li *ngIf="_authService.isLoggedIn()">
                <a routerLink="/upload" routerLinkActive="active">Upload</a>
            </li>
            <li *ngIf="!_authService.isLoggedIn()">
                <a routerLink="/register" routerLinkActive="active">Register</a>
            </li>
            <li *ngIf="!_authService.isLoggedIn()">
                <a routerLink="/login" routerLinkActive="active">Login</a>
            </li>
            <li *ngIf="_authService.isLoggedIn()">
                <a routerLink="/user" routerLinkActive="active">User</a>
            </li>
            <li *ngIf="_authService.isLoggedIn()">
                <a (click)="logout()">Logout</a>
            </li>
        </ul>
    </nav>
</header>
<div id="content" class="facts-container">
    <router-outlet></router-outlet>
</div>