
.main {
  width: 800px;
  padding: 20px;
}

#content {
  padding: 30px;
  width: 1000px;
  margin: auto;
  float: none;
  background-color: whitesmoke;
  /*border: 2px solid dodgerblue;*/
  box-shadow: 0px 0px 10px grey;
}
.left{
  float: none;
  display: inline-block;
  position: absolute;
  left: 25px;
}
.navbar {
  margin: 0;
  color: white;
  background-color: dodgerblue;
}
.navbar-container{
  width: 1000px;
  height: 55px;
  position: relative;
  margin: auto;
}

.navbar a {
  color: white;
  font-weight: 700;
}
.navbar li{
  line-height: 52px;
}
li img{
  vertical-align: middle;
  border: 1px solid white;
  border-radius: 50%;
}

.navbar a:hover {
  color: white;
  font-size: 1.2vw;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.right{
  display: inline-block;
  position: absolute;
  right: 25px;
}

.navbar a:hover:after {
  content: '';
  width: 100%;
  left: 0;
  bottom: 0;
  height: 3px;
  position: absolute;
  border: 1px solid white;
  background-color: white;
}

img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#header-image{
  width: 1104px;
  height: auto;
  position: relative;
  left: -82px;
}


