<input type='text' [(ngModel)]='searchPattern' />
<select [(ngModel)]='sortPattern'>
    <option value="title">Title</option>
    <option value="uploader">Uploader</option>
    <option value="category">Category</option>
    <option value="rating">Rating</option>
</select>
<input type="radio" [(ngModel)]='orderPattern' name="order" value="Ascending">Ascending
<input type="radio" [(ngModel)]='orderPattern' name="order" value="Descending">Descending
<ul>
    <li fact-selector *ngFor="let fact of (facts | search : searchPattern | sort:[sortPattern,orderPattern])" [fact]="fact">
    </li>
</ul>