<input type="text" #title>
<select #category >
  <option value="select">Please select</option>
  <option value="fun">Fun</option>
  <option value="dev">Dev</option>
</select> 
<input 
    type="file" 
    #file
    [events]="events"
    ngFileSelect [options]="options" >
<input type="button" value="Upload" (click)="startUpload(title.value,category.value,file.value)" />


<!--(onUpload)="handleUpload($event, title.value,category.value)" 
    (beforeUpload)="beforeUpload($event,title.value,category.value)"-->