<div class="form-group">
    <div class="col-xs-5">
        <label for="ex1">Title</label>
        <input class="form-control" id="ex1" type="text" #title>
    </div>
    <div class="col-xs-2">
        <label>Category</label>
        <select #category>
            <option value="select">Please select</option>
            <option value="fun">Fun</option>
            <option value="dev">Dev</option>
        </select>
    </div>



    <input type="file" #file [events]="events" ngFileSelect [options]="options">
    <input type="button" class="button btn" value="Upload" (click)="startUpload(title.value,category.value,file.value)" />
</div>