<div class="fact">
    <h1>TITLE: {{fact.title}}</h1>
    <img class="fact-image-big" [src]='fact.img'>
    <div>
        <span class="glyphicon glyphicon-user">: {{fact.uploader}}</span>
        <span class="glyphicon glyphicon-tag">: {{fact.category}}</span>
    </div>
    <input type="button" value="Back" (click)="goBack()">
</div>
<div> COMMENTS: </div>
<div>
    <app-rating [rating]='fact.rating' (ratingClicked)='onRatingClicked($event)'>
    </app-rating>
    <span>{{fact.rating}}</span>
    <select #factRating>
        <option *ngFor="let rate of ratingArr" [ngValue]="rate">{{rate}}</option>
    </select>
    <button (click)="rateFact(fact._id,factRating.value)">Rate</button>
</div>

<fact-comment-selector factId={{fact._id}}></fact-comment-selector>

<ul id="list-comments">
    <li *ngFor="let comment of factComments">
        <div class="comment">
            <p>
                <span class="glyphicon glyphicon-user"> {{comment.username}}</span>
            </p>
            <div>
                    {{comment.comment}}
            </div>
        </div>
    </li>
</ul>