
h1{
  width: 100%;
  background-color: dodgerblue;
}
.facts-list{
  text-align: center;
  display: inline-block;
  width: 500px;
  padding: 0 ;
}
.facts-list li{
  width: 100%;
}
.input-group{
  text-align: center;
  width: 850px;
}
#search{
  border-radius: 5px;
  width: 50%;
  margin: 0px auto;
  float: none;
}
.btn-group{
  display: block;
}

ul{
  list-style-type: none;
}
.search-bar{
  width: 64%;
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 5px;
  float:none;
  margin-bottom: 5px;
}
.search-selector{
  width: 29%;
  display: inline-block;
}
.label-wrapper{
  display: inline-block;
  padding: 5px;
  color: white;
  background-color: dodgerblue;
  height: 34px;
  vertical-align: top;
}
.label-wrapper label{
  vertical-align: middle;
  margin: auto;
  line-height: 2;
}
#sort-by-selector{
  vertical-align: top;
  display: inline-block;
  width: 20%;
  height: 34px;
  border: 1px solid lightgray;
  border-radius: 0px 5px 5px 0px;
}
