<div id="search" class="input-group">
  <input type='text' [(ngModel)]='searchPattern' class="form-control" placeholder="Search for..." />
  <select [(ngModel)]='sortPattern'>
    <option value="title">Title</option>
    <option value="uploader">Uploader</option>
    <option value="category">Category</option>
    <option value="rating">Rating</option>
  </select>
  <input type="radio" [(ngModel)]='orderPattern' name="order" value="Ascending">Ascending
  <input type="radio" [(ngModel)]='orderPattern' name="order" value="Descending">Descending
</div>
<ul class="facts-list" infinite-scroll [scrollWindow]="true" (scrolled)="onScrollDown()">
  <li fact-selector *ngFor="let fact of (facts | search : searchPattern | sort:[sortPattern,orderPattern])" [fact]="fact">
  </li>
</ul>
